@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<div ng-app="app" ng-controller="accountController">
    <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" type="text" class="form-control" ng-model="userRegistrationEmail"/>

        <label for="password">Password:</label>
        <input id="password" type="password" class="form-control"
               ng-model="userRegistrationPassword"/>

        <label for="confirmPassword">Confirm password:</label>
        <input id="confirmPassword" type="password" class="form-control"
               ng-model="userRegistrationConfirmPassword"/>

        <button type="submit" class="form-control btn btn-success" ng-click="registerUser()">Register</button>
    </div>

    {{responseData}}
</div>