
@{
    ViewBag.Title = "Details";
}
<script>
    var sensorId = '@ViewBag.ID';
</script>



<div ng-app="app" ng-controller="sensorController" data-ng-init="getSensorById()">
    <h2>Details - {{sensorDetailModel.Name}}</h2>
    <three-month-chart sensor-detail-model="sensorDetailModel"></three-month-chart>
</div>