
@{
    ViewBag.Title = "Visualisations";
}
<script>
    var home = '@ViewBag.ID';
</script>
<h2>@ViewBag.ID - Visualisations</h2>

<div class="row">
    <div class="col-md-10">
        @* visualisation of all sensors *@
        @* correlationmatrix between all sensors  *@
        <div ng-app="app">
            <sensor-correlation-chart home="@ViewBag.ID"></sensor-correlation-chart>
        </div>
        
    </div>
</div>