@{
    ViewBag.Title = "Add";
}
@Scripts.Render("~/bundles/angularJS", "~/bundles/scripts")

<h2>Add</h2>
<div ng-app="app" ng-controller="homeController">
    <div class="col-md-12">
        <div class="form-group">
            <label for="name">Name:</label>
            <input id="name" class="form-control" type="text" ng-model="home.name" /><br />
            <br />
            <button class="btn btn-primary" ng-click="addHome()">Add Home</button>
        </div>
    </div>
</div>
