@{
    ViewBag.Title = "Sensors";

}

@Scripts.Render("~/bundles/angularJS", "~/bundles/scripts")

<h2>Homes</h2>

<div ng-app="app" ng-controller="homeController">
    <div class="col-md-10" ng-cloak>
        <table class="table up">
            <tr ng-repeat="home in homes">
                @*<td class="col-md-10" ng-bind="home.Name"><a href=""></a></td>*@
                <td class="col-md-10"><a href="/Sensor?id={{home.Name}}" target="_self">{{home.Name}}  </a></td>
                <td ng-click="removeHome(home)"><a href="" class="col-md-2 glyphicon glyphicon-remove"></a></td>
            </tr>
        </table>
    </div>
    <div class="col-md-2">
        @Html.ActionLink("Add Home", "Add", null, new {@class = "btn btn-default"})
    </div>
    <div class="row">
        <div class="col-md-10">
            <iframe src="~/Scripts/Unity/index.html" style="border:0px #000000 none;" name="Game name" scrolling="no" frameborder="1" marginheight="px" marginwidth="320px" width="1024px" height="700px"></iframe>
        </div>
    </div>
</div>




