@{
    ViewBag.Title = "Sensors";

}

@Scripts.Render("~/bundles/angularJS", "~/bundles/scripts")

<h2>Sensors</h2>

<div ng-app="app" ng-controller="sensorController">
    <div class="col-md-10" ng-cloak>
        <table class="table up">
            <tr ng-repeat="sensor in sensors">
                <td class="col-md-10"ng-bind="sensor.Name"></td>
                <td ng-click="removeSensor(sensor)" ><a href="" class="col-md-2 glyphicon glyphicon-remove"></a></td>
            </tr>
        </table>
    </div>
    <div class="col-md-2">
        @Html.ActionLink("Add Sensor", "Add")
    </div>
    {{}}
</div>

